
.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: block;
  top:0;
  right: 0;
  position: absolute;
  width: 100%;
}
.bar nav{
    float: right;
    size: 0;
}
.bar a {
  float: left;
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bar li a:hover {
  background-color: #111;
}