{% extends 'detector/base.html' %}
{% load static %}
{% block head %}
	<title>MELANOMA</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/second.css' %}"><link href='https://fonts.googleapis.com/css?family=Stylish' rel='stylesheet'>
{% endblock %}

{% block body %}
<h1 style="font-size: 50px;color: white; font-family: arial black; margin-top:50px;"><span>MELANOMA</span></h1>
<h4 >Melanoma, the most serious type of skin cancer, develops in the cells (melanocytes) that produce melanin, the pigment that gives your skin its color. </h4>
<h4>Melanoma can also form in your eyes and, rarely, inside your body, such as in your nose or throat. The exact cause of all melanomas isn't
</h4>
<h4>clear, but exposure to ultraviolet (UV) radiation from sunlight or tanning lamps and beds increases your risk of developing melanoma.</h4>
<h4> Limiting your exposure to UVradiation can help reduce your risk of melanoma. The risk of melanoma seems to be increasing  in people</h4>
<h4> under 40, especially women. Knowing the warning signs of skin cancer can help ensure that cancerous changes are detected and 
</h4>
<h4> treated before the cancer has spread.Melanoma can be treated successfully if it is detected early.Melanomas can develop </h4>
<h4>anywhere on your body. They most often develop in areas that have had exposure to the sun, such as your back,legs, arms and</h4>
<h4> face. Melanomas can also occur in areas that don't receive much sun exposure, such  as the soles of your feet,  </h4>
<h4>palms of your hands and fingernail beds. These hidden melanomas are more common in people with darker skin.</h4>


<br>
<img class="center" id="myImg" src="{% static 'images/five1.jpg' %}" alt="MELANOMA
" width="400px;" height="300px"> 
<br>
<div class="type"> <h1 style="font-family:Stylish;">The first melanoma signs and symptoms often are::-</h1>
	<ul>
  <li>A change in an existing mole
</li>
  <li>The development of a new pigmented or unusual-looking growth on your skin
</li>
</ul>
<h2>Melanoma doesn't always begin as a mole. It can also occur on otherwise normal-appearing skin.
Normal moles are generally a uniform color — such as tan, brown or black — with a distinct border separating the mole from your surrounding skin. They're oval or round and usually smaller than 1/4 inch (about 6 millimeters) in diameter — the size of a pencil eraser.Most moles benign appearing in childhood and new moles may form until about age 40. By the time they are adults, most people have between 10 and 40 moles. Moles may change in appearance over time  and some may even disappear with age. Unusual moles that may indicate melanoma. 
</h2>
<h2>To help you identify characteristics of unusual moles that may indicate melanomas or other skin cancers, think of the letters ABCDE:
</h2>
<ul>
  <li>A is for asymmetrical shape. Look for moles with irregular shapes, such as two very different-looking halves.</li>
  <li>B is for irregular borders. Look for moles with irregular, notched or scalloped borders — characteristics of melanomas.</li>
  <li>C is for changes in color. Look for growths that have many colors or an uneven distribution of color.</li>
<li>D is for diameter. Look for new growth in a mole larger than 1/4 inch (about 6 millimeters).</li>
<li>E is for evolving. Look for changes over time, such as a mole that grows in size or that changes color or shape. Moles may also evolve to develop new signs and symptoms, such as new itchiness or bleeding.</li>
</ul>
<h2>Cancerous (malignant) moles vary greatly in appearance. Some may show all of the changes listed above, while others may have only one or two unusual characteristics.Melanomas can also develop in areas of your body that have little or no exposure to the sun, such as the spaces between your toes and on your palms, soles, scalp or genitals. These are sometimes referred to as hidden melanomas because they occur in places most people wouldn't think to check. When melanoma occurs in people with darker skin, it's more likely to occur in a hidden area.
</h2>
<div class="type"> <h1 style="font-family:Stylish;">Hidden melanomas include::-</h1>
<ul>
  <li>Melanoma under a nail. Acral-lentiginous melanoma is a rare form of melanoma that can occur under a fingernail or toenail. It can also be found on the palms of the hands or the soles of the feet. It's more common in people of Asian descent, black people and in others with dark skin pigment.</li>
  <li>Melanoma in the mouth, digestive tract, urinary tract or vagina. Mucosal melanoma develops in the mucous membrane that lines the nose, mouth, esophagus, anus, urinary tract and vagina. Mucosal melanomas are especially difficult to detect because they can easily be mistaken for other far more common conditions.</li>
  <li>Melanoma in the eye. Eye melanoma, also called ocular melanoma, most often occurs in the uvea — the layer beneath the white of the eye (sclera). An eye melanoma may cause vision changes and may be diagnosed during an eye exam.</li>
</ul>
<h2>Melanoma occurs when something goes wrong in the melanin-producing cells (melanocytes) that give color to your skin.Normally, skin cells develop in a controlled and orderly way — healthy new cells push older cells toward your skin's surface, where they die and eventually fall off. But when some cells develop DNA damage, new cells may begin to grow out of control and can eventually form a mass of cancerous cells.Just what damages DNA in skin cells and how this leads to melanoma isn't clear. It's likely that a combination of factors, including environmental and genetic factors, causes melanoma. Still, doctors believe exposure to ultraviolet (UV) radiation from the sun and from tanning lamps and beds is the leading cause of melanoma.UV light doesn't cause all melanomas, especially those that occur in places on your body that don't receive exposure to sunlight. This indicates that other factors may contribute to your risk of melanoma.
</h2>
<div class="type"> <h1 style="font-family:Stylish;">RISK FACTORS:-</h1>
<h2>Factors that may increase your risk of melanoma include:
</h2>
<ul>
  <li>Fair skin. Having less pigment (melanin) in your skin means you have less protection from damaging UV radiation. If you have blond or red hair, light-colored eyes, and freckle or sunburn easily, you're more likely to develop melanoma than is someone with a darker complexion. But melanoma can develop in people with darker complexions, including Hispanic people and black people.</li>
  <li>A history of sunburn. One or more severe, blistering sunburns can increase your risk of melanoma.</li>
  <li>Excessive ultraviolet (UV) light exposure. Exposure to UV radiation, which comes from the sun and from tanning lights and beds, can increase the risk of skin cancer, including melanoma.</li>
  <li>Living closer to the equator or at a higher elevation. People living closer to the earth's equator, where the sun's rays are more direct, experience higher amounts of UV radiation than do those living farther north or south. In addition, if you live at a high elevation, you're exposed to more UV radiation.</li>
  <li>Having many moles or unusual moles. Having more than 50 ordinary moles on your body indicates an increased risk of melanoma. Also, having an unusual type of mole increases the risk of melanoma. Known medically as dysplastic nevi, these tend to be larger than normal moles and have irregular borders and a mixture of colors.</li>
  <li>A family history of melanoma. If a close relative — such as a parent, child or sibling — has had melanoma, you have a greater chance of developing a melanoma, too.</li>
  <li>Weakened immune system. People with weakened immune systems have an increased risk of melanoma and other skin cancers. Your immune system may be impaired if you take medicine to suppress the immune system, such as after an organ transplant, or if you have a disease that impairs the immune system, such as AIDS.</li>
</ul>
<div class="type"> <h1 style="font-family:Stylish;">PREVENTION:-</h1>
  <h2>You can reduce your risk of melanoma and other types of skin cancer if you:</h2>
<ul>
  <li>Avoid the sun during the middle of the day. For many people in North America, the sun's rays are strongest between about 10 a.m. and 4 p.m. Schedule outdoor activities for other times of the day, even in winter or when the sky is cloudy.
You absorb UV radiation year-round, and clouds offer little protection from damaging rays. Avoiding the sun at its strongest helps you avoid the sunburns and suntans that cause skin damage and increase your risk of developing skin cancer. Sun exposure accumulated over time also may cause skin cancer.
</li>
  <li>Wear sunscreen year-round. Use a broad-spectrum sunscreen with an SPF of at least 30, even on cloudy days. Apply sunscreen generously, and reapply every two hours — or more often if you're swimming or perspiring.
</li>
  <li>Wear protective clothing. Cover your skin with dark, tightly woven clothing that covers your arms and legs, and a broad-brimmed hat, which provides more protection than does a baseball cap or visor.
Some companies also sell protective clothing. A dermatologist can recommend an appropriate brand. Don't forget sunglasses. Look for those that block both types of UV radiation — UVA and UVB rays.
</li>
<li>Avoid tanning lamps and beds. Tanning lamps and beds emit UV rays and can increase your risk of skin cancer.</li>
<li>Become familiar with your skin so that you'll notice changes. Examine your skin often for new skin growths or changes in existing moles, freckles, bumps and birthmarks. With the help of mirrors, check your face, neck, ears and scalp.
Examine your chest and trunk and the tops and undersides of your arms and hands. Examine both the front and back of your legs and your feet, including the soles and the spaces between your toes. Also check your genital area and between your buttocks.</li>
</ul>

</div>
</div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<script type="text/javascript">
// Get the modal
var modal = document.getElementById("myModal");

// Get the imge and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>
{% endblock %}