{% extends 'detector/base.html' %}
{% load static %}
{% block head %}
	<title>DERMATOFIBROMA</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/second.css' %}"><link href='https://fonts.googleapis.com/css?family=Stylish' rel='stylesheet'>
{% endblock %}

{% block body %}
<h1 style="font-size: 50px;color: white; font-family: arial black;margin-top:50px;"><span>DERMATOFIBROMA</span></h1>
<h4 >Dermatofibromas are small, harmless growths that appear on the skin. These growths, called nodules, can grow anywhere on the body, but are most common on the arms, lower legs, and upper back.</h4>
<h4>Dermatofibromas are seen in adults but are rare in children. They are more frequent in women than in men and are more common in people with compromised immune systems.
</h4>


<br>
<img class="center" id="myImg" src="{% static 'images/four.jpg' %}" alt="DERMATOFIBROMA
" width="400px;" height="300px"> 
<br>
<div class="type"> <h1 style="font-family:Stylish;">What is a dermatofibroma?:-</h1>
	<h2>A dermatofibroma is a harmless, non-cancerous bump. Dermatofibromas are harmless growths within the skin that usually have a small diameter. They can vary in color, and the color may change over the years.Dermatofibromas are firm to the touch. They are very dense, and many people say they feel like a small stone underneath or raised above the skin. Most dermatofibromas are painless. Some people experience itching or irritation at the site of the growth, as well as tenderness. Dermatofibromas may also be called benign fibrous histiocytomas.
</h2>

<div class="type"> <h1 style="font-family:Stylish;">Causes and risk factors:-</h1>
<h3>Dermatofibromas are an accumulation of extra cells within the deeper layers of the skin. The exact cause of these growths is unknown. They may be caused by an adverse reaction to a small injury, such as a bug bite, splinter, or puncture wound. Age may be another risk factor, as the growth appears mostly in adults. People with suppressed immune systems may be more likely to experience dermatofibromas, and may have more than one growth. Multiple dermatofibromas are especially common in people with systemic lupus.
</h3>

<div class="type"> <h1 style="font-family:Stylish;">Symptoms and complications:-</h1>
<h2>Potential causes may include small injuries, such as a splinter, paper cut, or bug bite. Dermatofibromas tend to grow slowly. The growths typically have some defining characteristics that can help identify them.

</h2>

<div class="type"> <h1 style="font-family:Stylish;">Key markers of a dermatofibroma are::-</h1>
  
<ul>
  <li>Appearance – a round bump that is mostly under the skin.
</li>
  <li>Size – the normal range is about the size of the tip of a ballpoint pen to a pea, and it usually remains stable.
</li>
  <li>Color – may be pink, red, gray, light brown or purple in varying degrees, and may change over time.
</li>
<li>Location – most commonly found on the legs, but sometimes on the arms, trunk, and less common elsewhere on the body.</li>
<li>Additional symptoms – usually harmless and painless, but occasionally may be itchy, tender, painful, or feel inflamed.</li>
</ul>
<h2>When pinched, a dermatofibroma will not push towards the surface of the skin. Instead, it will dimple inward on itself, which can help tell the difference between a dermatofibroma and another type of growth. It is usual for only one growth to appear on the body. However, multiple dermatofibromas are more likely to occur in people with weakened immune systems. Skin growths can be alarming, but dermatofibromas are harmless and do not develop into cancerous growths.
</h2>  
<div class="type"> <h1 style="font-family:Stylish;">Diagnosis:-</h1>
<h2>Primary care doctors and dermatologists will usually diagnose a dermatofibroma by inspecting it visually. The nodules are easy to identify, but doctors will also want to be certain they do not misdiagnose the growth. A doctor may pinch the growth to check for dimpling and may ask about any additional symptoms the person is experiencing. A dermatoscope may be used to take a magnified look at the surface of the growth. Dermatofibromas will usually have a central white area in the middle surrounded by the pigmentation when viewed under a dermatoscope.
Any atypical signs may require further testing. If the growth is extremely irritated, bleeding, abnormally shaped, or has a sore on top of it, doctors may want to do a biopsy. This involves taking a small bit of the tissue from the nodule to examine under a microscope in a laboratory.
</h2>

<div class="type"> <h1 style="font-family:Stylish;">Symptoms and complications:-</h1>
<h2>Potential causes may include small injuries, such as a splinter, paper cut, or bug bite. Dermatofibromas tend to grow slowly. The growths typically have some defining characteristics that can help identify them.

</h2>

<div class="type"> <h1 style="font-family:Stylish;">Diagnosis types:-</h1>
  <h2>In rare cases, another growth or disorder may be mistaken for a dermatofibroma. Some of the possible diagnoses for growths that resemble dermatofibroma are:</h2>
<ul>
  <li>atypical mole
</li>
  <li>hypertrophic scarring or keloid
</li>
  <li>malignant melanoma
</li>
<li>squamous cell carcinoma</li>
<li>basal cell carcinoma</li>
<li>keratoacanthoma</li>
<li>Spitz’ naevus</li>
<li>blue naevus</li>
</ul>
<h2>There is also a rare skin cancer, called dermatofibrosarcoma protuberans (DFSP), which initially resembles a dermatofibroma. A doctor who is unsure about a diagnosis will want to perform a biopsy on the growth tissue for confirmation.
</h2>  
<div class="type"> <h1 style="font-family:Stylish;">Treatment:-</h1>
<h2>Treatment options may include removing the dermatofibromas, shaving it, or freezing it. In most cases, this will leave a scar. Treatment is not always necessary. Most dermatofibromas do not require treatment. They can be safely left alone and will usually cause no symptoms aside from their appearance on the skin. However, some people still choose to remove them. Removal is especially common if the growth is unsightly or in an embarrassing place.
Growths may also be removed if they are in an inconvenient spot. This scenario may affect a growth that gets irritated by clothing or one that is constantly cut, for example, during shaving. Dermatofibromas are a mixture of tissues, such as blood vessels, fibroblasts, and macrophages. The growths run into the dermis, which is the middle layer of the skin. Rarely, growths can extend to the subcutis, which is deeper and makes them harder to remove. Dermatofibromas are usually taken out by removing the growth entirely. This can leave noticeable scar tissue after it heals. People looking to remove a dermatofibroma because they believe it to be unsightly should be aware of the possibility that they may have a scar instead.
Some nodules are simply flattened down to the level of the skin by shaving off the top layers. This may not produce as much scarring, but it does mean the deeper layers of the nodule remain. This may allow the nodule to grow back with time. Other treatment methods include freezing a growth with liquid nitrogen or injecting it with corticosteroids. These methods can be successful, but may still only eliminate the upper part of the growth. Laser procedures have also been used. There are currently no known methods of permanently changing the size of a dermatofibroma. Occasionally, a growth may shrink or disappear on its own, but this is rare. Removing these growths at home should not be attempted. Improper removal can lead to deep scarring, infection, and improper healing.

</h2>
</div>
</div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<script type="text/javascript">
// Get the modal
var modal = document.getElementById("myModal");

// Get the imge and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>
{% endblock %}