{% extends 'detector/base.html' %}
{% load static %}
{% block head %}
	<title>VASCULAR LESIONS</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/second.css' %}"><link href='https://fonts.googleapis.com/css?family=Stylish' rel='stylesheet'>
{% endblock %}

{% block body %}
<h1 style="font-size: 50px;color: white; font-family: arial black;margin-top:50px;"><span>VASCULAR LESIONS
</span></h1>
<h4 >Vascular lesions are relatively common abnormalities of the skin and underlying tissues, more commonly known as birthmarks. There </h4>
<h4> are three major categories of vascular lesions: Hemangiomas, Vascular Malformations, and Pyogenic Granulomas.
</h4>
<h4>  While these birthmarks can look similar at times, they each vary in terms of origin and necessary treatment.
</h4>
<h4>Vascular Disease includes any condition that affects your circulatory system, such as peripheral artery disease. This ranges</h4>
<h4> from diseases of your arteries, veins and lymph vessels to blood disorders that affect circulation.
</h4>
<br>
<img class="center" id="myImg" src="{% static 'images/svn.png' %}" alt="VASCULAR LESIONS

" width="400px;" height="300px"> 
<br>
<div class="type"> <h1 style="font-family:Stylish;">The following are conditions that fall under the category of "Vascular Disease":-</h1>
  <h1 style="font-size:30px;color:white;font-family: Stylish;">Arterial Disease</h1>
  <h1 style="font-size:30px;color:white;font-family: Stylish;">Peripheral Artery Disease</h1>
	<h2>Like the blood vessels of the heart (coronary arteries), your peripheral arteries (blood vessels outside your heart) also may develop atherosclerosis, the build-up of fat and cholesterol deposits, called plaque, on the inside walls. Over time, the build-up narrows the artery. Eventually the narrowed artery causes less blood to flow, and a condition called ischemia can occur. Ischemia is inadequate blood flow to the body's tissue. Types of peripheral arterial disease include:
</h2>
<ul>
  <li>Peripheral artery disease: A blockage in the legs can lead to leg pain or cramps with activity (claudication), changes in skin color, sores or ulcers and feeling tired in the legs. Total loss of circulation can lead to gangrene and loss of a limb.</li>
  <li>Intestinal ischemic syndrome: A blockage in the blood vessels leading to the gastrointestinal system</li>
  <li>Renal artery disease: A blockage in the renal arteries can cause renal artery disease (stenosis). The symptoms include uncontrolled hypertension (high blood pressure), congestive heart failure, and abnormal kidney function.</li>
  <li>Popliteal Entrapment Syndrome: a rare vascular disease that affects the legs of some young athletes. The muscle and tendons near the knee compress the popliteal artery, restricting blood flow to the lower leg and possibly damaging the artery.</li>
  <li>Raynaud's Phenomenon consists of spasms of the small arteries of the fingers, and sometimes, the toes, brought on by exposure to cold or excitement.</li>
  <li>Buerger's Disease most commonly affects the small and medium sized arteries, veins, and nerves. Although the cause is unknown, there is a strong association with tobacco use or exposure. The arteries of the arms and legs become narrowed or blocked, causing lack of blood supply (ischemia) to the fingers, hands, toes and feet. Pain occurs in the arms, hands, and more frequently the legs and feet, even at rest. With severe blockages, the tissue may die (gangrene), requiring amputation of the fingers and toes. Superficial vein inflammation and symptoms of Raynaud's occur commonly in patients with Buerger's Disease.</li>
</ul>
<div class="type"> <h1 style="font-family:Stylish;">Carotid Artery Disease:-</h1>
  
<ul>
  <li>Carotid artery disease is a blockage or narrowing in the arteries supplying the brain, and can lead to a transient ischemic attack (TIA) or stroke</li>
  <li>Carotid artery dissection begins as a tear in one layer of the artery wall. Blood leaks through this tear and spreads between the layers of the wall.</li>
  <li>Carotid body tumors are growths within the nervous tissue around the carotid artery</li>
  <li>Carotid artery aneurysm</li>
</ul>
<div class="type"> <h1 style="font-family:Stylish;">Venous Disease:-</h1>
<h2>Veins are flexible, hollow tubes with flaps inside, called valves. When your muscles contract, the valves open, and blood moves through the veins. When your muscles relax, the valves close, keeping blood flowing in one direction through the veins.
If the valves inside your veins become damaged, the valves may not close completely. This allows blood to flow in both directions. When your muscles relax, the valves inside the damaged vein(s) will not be able to hold the blood. This can cause pooling of blood or swelling in the veins. The veins bulge and appear as ropes under the skin. The blood begins to move more slowly through the veins, it may stick to the sides of the vessel walls and blood clots can form.
</h2>
<ul>
  <li>Varicose veins are bulging, swollen, purple, ropy veins, seen just under your skin, caused by damaged valves within the veins.</li>
  <li>Spider veins are small red or purple bursts on your knees, calves, or thighs, caused by swollen capillaries (small blood vessels)</li>
  <li>Klippel-Trenaunay syndrome (KTS), a rare congenital vascular disorder</li>
  <li>May-Thurner syndrome (MTS) is caused when the left iliac vein is compressed by the right iliac artery, which increases the risk of deep vein thrombosis (DVT) in the left extremity.</li>
  <li>Thoracic outlet syndrome (TOS) is a group of disorders that occur when there is compression, injury, or irritation of the nerves and/or blood vessels (arteries and veins) in the lower neck and upper chest area</li>
  Chronic venous insufficiency (CVI) is a condition that occurs when the venous wall and/or valves in the leg veins are not working effectively, making it difficult for blood to return to the heart from the legs.
</ul>

<div class="type"> <h1 style="font-family:Stylish;">Blood Clots:-</h1>
  <h2>A clot forms when clotting factors in the blood cause it to coagulate or become a solid, jelly-like mass. When a blood clot forms inside a blood vessel (a thrombus), it can dislodge and travel through the blood stream, causing a deep vein thrombosis, pulmonary embolis, heart attack or stroke.
</h2>
<h2>Blood clots in the arteries can increase the risk for stroke, heart attack, severe leg pain, difficulty walking, or even the loss of a limb.usually caused by:
</h2>
<ul>
  <li>Hypercoagulable states are conditions that put people at increased risk for developing blood clots.</li>
  <li>Deep vein thrombosis (DVT) is a blood clot occurring in a deep vein.</li>
  <li>Pulmonary embolism is a blood clot that breaks loose from a vein and travels to the lungs.</li>
  <li>Axillo-subclavian vein thrombosis, also called Paget-Schroetter Syndrome, is a most common vascular condition affecting young, competitive athletes. The condition develops when a vein in the armpit (the axilla) or in the front of the shoulder (the subclavian vein) is compressed by the collarbone (clavicle), the first rib, or the surrounding muscle, increasing risk for blood clots.
</li>
<li>Superficial thrombophlebitis is a blood clot in a vein just under the skin</li>
</ul>
<div class="type"> <h1 style="font-family:Stylish;">Aortic Aneurysm:-</h1>
  <h2>An aneurysm is an abnormal bulge in the wall of a blood vessel. Aneurysms can form in any blood vessel, but they occur most commonly in the aorta (aortic aneurysm) which is the main blood vessel leaving the heart:</h2>
  <ul>
    <li>Thoracic aortic aneurysm (part of aorta in the chest)</li>
    <li>Abdominal aortic aneurysm - include one or more of the following:</li>
  </ul>
  <h2>Fibromuscular Dysplasia (FMD)</h2>
  <h2>Fibromuscular dysplasia (FMD) is a rare medical condition. Patients with FMD have abnormal cellular growth in the walls of their medium and large arteries. This can cause the arteries with the abnormal growth to look beaded. The arteries may also become narrow (stenosis).</h2>
  <h1 style="font-family: Stylish;">Other vascular conditions include:</h1>
  <h2>Blood Clotting Disorders</h2>
  <h2>Blood clotting disorders are disorders that make the blood more likely to form blood clots (hypercoagulable) in the arteries and veins. These conditions may be inherited (congenital, occurring at birth) or acquired during life and include:
</h2>
  <ul>
    <li>Elevated levels of factors in the blood which cause blood to clot (fibrinogen, factor 8, prothrombin)</li>
    <li>Deficiency of natural anticoagulant (blood-thinning) proteins (antithrombin, protein C, protein S</li>
    <li>Elevated blood counts</li>
    <li>Abnormal Fibrinolysis (the breakdown of fibrin)</li>
    <li>Abnormal changes in the lining of the blood vessels (endothelium)</li>
  </ul>
<div class="type"> <h1 style="font-family:Stylish;">Lymphedema:-</h1>
  <h2>The lymphatic system is a circulatory system that includes an extensive network of lymph vessels and lymph nodes. The lymphatic system helps coordinate the immune system's function to protect the body from foreign substances. Lymphedema is an abnormal build-up of fluid that causes swelling, most often in the arms or legs. Lymphedema develops when lymph vessels or lymph nodes are missing, impaired, damaged or removed.</h2>
</div>
</div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<script type="text/javascript">
// Get the modal
var modal = document.getElementById("myModal");

// Get the imge and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>
{% endblock %}