<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Patient Details</title>
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type="text/css">
      .frame {
        width: 80%;
        height: 80%;
        border: 3px solid #ccc;
        background: #000;
        margin: auto;
        padding: 15px 10px;
      }
    </style>
  </head>
  <body>
    {% include "detector/navbar.html" %}
    <form class="signup-form" action="/register" method="post">

      <!-- form header -->
      <div class="form-header">
        <h1 style="font-family:arial black;">PATIENT DETAILS</h1>
      </div>

      <!-- form body -->
      <div class="form-body">

        <!-- Firstname and Lastname -->
        <div class="horizontal-group">
          <div class="form-group left">
            <label for="firstname" class="label-title">Patient's Name <span style="color: red;">*</span></label>
            <input type="text" id="firstname" class="form-input" placeholder="Enter your first name" required="required" />
          </div>
          <div class="form-group right">
            <label for="lastname" class="label-title">Patient's Id <span style="color: red;">*</span></label>
            <input type="text" id="lastname" class="form-input" placeholder="Enter your last name" />
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email" class="label-title">Email <span style="color: red;">*</span></label>
          <input type="email" id="email" class="form-input" placeholder="Enter your email" required="required">
        </div>

        <!-- Passwrod and confirm password -->
        <div class="horizontal-group">
          <div class="form-group left">
            <label for="firstname" class="label-title">Patient's Id <span style="color: red;">*</span></label>
            <input type="text" id="firstname" class="form-input" placeholder="Enter Patient's Id" required="required" />
          </div>
           <div class="form-group right">
            <label for="experience" class="label-title">Age <span style="color: red;">*</span></label>
            <input type="number" min="18" max="50"  value="18" class="form-input">
          </div>

          
        </div>

        <!-- Gender and Hobbies -->
        <div class="horizontal-group">
          <div class="form-group left">
            <label class="label-title">Gender: <span style="color: red;">*</span></label>
            <div class="input-group">
              <label for="male"><input type="radio" name="gender" value="male" id="male"> Male</label>
              <label for="female"><input type="radio" name="gender" value="female" id="female"> Female</label>
              <label for="other"><input type="radio" name="gender" value="other" id="other"> Other</label>
            </div>
          </div>
         
        </div>

        <!-- Source of Income and Income -->
        <div class="horizontal-group">
           <div class="form-group left">
            <label for="firstname" class="label-title">Height <span style="color: red;">*</span></label>
            <input type="number" id="firstname" class="form-input" placeholder="in feets" required="required" />
          </div>
          <div class="form-group right">
            <label for="lastname" class="label-title">Weight <span style="color: red;">*</span></label>
            <input type="number" id="lastname" class="form-input" placeholder="in cms" />
          </div>
         
        </div>

        <!-- Profile picture and Age -->
        <div class="horizontal-group">
          <div class="form-group left" >
            <label for="choose-file" class="label-title">Upload Image <span style="color: red;">*</span></label>
            <input type="file" id="choose-file" size="80">
          </div>
          <br>
<!--display  image-->
<br>
 <div class="horizontal-group">
<p><h1  style="color:black; font-size: 15px; font-family: sans-serif ; font-weight: bold;">Display image</h1></p>
<img class="frame" src="images/about.jpg"> 
</div>
</div>

          <p><h1 style="color:black; font-size: 15px; font-family: sans-serif ; font-weight: bold;">Capture Image <span style="color: red;">*</span></h1>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-camera"></span> Camera
        </a>
      </p> 

        </div>

        <!-- Bio -->
        <div class="form-group">
          <label for="choose-file" class="label-title">Symptoms <span style="color: red;">*</span></label>
          <textarea class="form-input" rows="4" cols="30" style="height:auto" placeholder="Write something..." required="required"></textarea>
        </div>
         <div class="form-group">
          <label for="choose-file" class="label-title">Algeries <span style="color: red;">*</span></label>
          <textarea class="form-input" rows="4" cols="30" style="height:auto" placeholder="Write something..." required="required"></textarea>
        </div>
        <div class="form-group">
          <label for="choose-file" class="label-title">Product Used <span style="color: red;">*</span></label>
          <textarea class="form-input" rows="4" cols="30" style="height:auto" placeholder="Write something..." required="required"></textarea>
        </div>
        <div class="form-group">
          <label for="choose-file" class="label-title">Family History <span style="color: red;">*</span></label>
          <textarea class="form-input" rows="4" cols="30" style="height:auto" placeholder="Write something..." required="required"></textarea>
        </div>
        <div class="form-group">
          <label for="choose-file" class="label-title">Previous Record <span style="color: red;">*</span></label>
          <textarea class="form-input" rows="4" cols="30" style="height:auto" placeholder="Write something..." required="required"></textarea>
        </div>

      </div>

      <!-- form-footer -->
      <div class="form-footer">
        <span>* required</span>
        

        <button type="submit" class="btn">Create</button>
      </div>

    </form>

    <!-- Script for range input label -->
    <script>
      var rangeLabel = document.getElementById("range-label");
      var experience = document.getElementById("experience");

      function change() {
      rangeLabel.innerText = experience.value + "K";
      }
    </script>

  </body>
</html>