<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Patient Profile</title>

    <meta name="author" content="Codeconvey" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" href="css/demo.css" />
    
	    <link rel="stylesheet" href="css/patientprofile.css">
      <style>
  .geeks {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    cursor: zoom-in;
  }
  
  .geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
  }
  
  .geeks:hover img {
    transform: scale(1.5);
  }
</style>

</head>
<body>
		
{% include "detector/navbar.html" %}
<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1 style="font-size:60px; color:black; font-family:arial black;">PATIENT PROFILE</h1>
                
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- Student Profile -->
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <h3>Patient Name</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Patient ID:</strong></p>
            <p class="mb-0"><strong class="pr-1">Email:</strong></p>
            <p class="mb-0"><strong class="pr-1">Gender:</strong></p>
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information<a href=""> <i class='fa fa-edit' style='font-size:36px; position:relative; float: right;'></i></a></h3>

          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Age</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
              <tr>
                <th width="30%">Height</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
              <tr>
                <th width="30%">Weight</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
              <tr>
                <th width="30%">Symptoms</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
              <tr>
                <th width="30%">Alergies</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
              <tr>
                <th width="30%">Product used</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
               <tr>
                <th width="30%">Family History</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>

        <br>
         <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <h3>Skin Cancer  Image <a href=""><i style="float: right; cursor: pointer;font-size: 40px;" class="fa fa-plus-circle"></i></a>
</h3>

          </div>
           <div class="geeks">
        <img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20200403151026/adblur_gfg.png"
            alt="Geeks Image" />

    </div>
        </div>

        
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Feedback</h3>
          </div>
          <div class="card-body pt-0">
<textarea rows="6" cols="80" name="comment" form="usrform">
</textarea>
<a href="#" class="aa">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
<a href="" style="     text-decoration: none;" class="res">RESULT</a>
           
    		</div>
		</div>
    </div>
</section>
     


    <!-- Analytics -->

	</body>
</html>